.button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    transition: all 0.2s ease-in;
}

.button-round:hover {
    background-color: #00C470;;
}