.button-solid {
    padding: 21px 40px;
    border-radius: 30px;
    background: #fff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2E2E2E;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: #000000;
        color: #fff;
    }
    
    &:focus {
        outline: none;
        background-color: #2f2f2f;
        color: #fff;
    }
    
}