$lineHeight: 3px;
$lineWidth: 20px;
$lineMargin: 4px;
$radius: 2px;
$color: #000;

$width: 60px;
$height: 60px;

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: $height;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #00c470;

        .nav-icon__middle, 
        .nav-icon__middle::before, 
        .nav-icon__middle::after {
            background-color: #fff;
        }
    }
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: $color;
    border-radius: $radius;
    transition: background-color 0.2s ease-in;;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: $lineWidth;
        height: $lineHeight;
        border-radius: $radius;
        background-color: $color;
        transition: 
            transform 0.2s ease-in, 
            top 0.2s linear 0.2s,
            background-color 0.2s ease-in;
    }

    &::before {
        top: -($lineHeight + $lineMargin);
    }

    &::after {
        top: ($lineHeight + $lineMargin);
    }
}

.nav-icon.nav-icon--active {
    position: fixed;
    z-index: 999;
}

.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::before {
        transform: rotate(45deg); 
    }

    &::after {
        transform: rotate(-45deg);
    }
}