.package {
    padding: 40px 15px;

    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75);

    color: #FFF;
    text-align: center;

    // Mobile XS
    @media (max-width: 599px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.package--special {
    background-color: rgba(48, 79, 254, 0.95);

    & .package__title {
        color: #fff;
    }

    & .package__period {
        background-color: rgba(0, 0, 0, 0.10);
    }
}

.package__header {
    padding-bottom: 40px;
    border-bottom:1px solid rgba(255, 255, 255, 0.10);
}

.package__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    color: #B2B2B2;
    text-transform: uppercase;
}

.package__price {
    margin-bottom: 15px;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.package__period {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1;
}

.package__list {
    margin-bottom: 58px;
    padding-top: 40px;
    line-height: 1;
}

.package__list-item {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;

    &:last-child {
        margin-bottom: 0;
    }
}