.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #1A1A1A;
    color: #fff;

    // Tablet
    @media (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    // Mobile
    @media (max-width: 899px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    // Mobile XS
    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;


    // Tablet
    @media (max-width: 1199px) {
        margin-bottom: 40px;
    }

    // Mobile
    @media (max-width: 899px) {
        flex-direction: column;
        margin-bottom: 30px;
    }

    // Mobile XS
    @media (max-width: 599px) {
        margin-bottom: 40px;
    }
}

.footer__nav {
    margin-right: 50px;
    display: flex;

    // Mobile
    @media (max-width: 899px) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    // Mobile XS
    @media (max-width: 599px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}
.footer__nav-item {
    margin-right: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.2s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #15D784;
    }

    // Mobile XS
    @media (max-width: 599px) {
        margin-right: 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__social {
    display: flex;
    column-gap: 30px;


    // Mobile XS
    @media (max-width: 599px) {
        column-gap: 20px;
    }
}

.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.10);
    transition: all 0.2s ease-in;

    &:hover {
        background-color: #00C470;
    }
}

.footer__copyright {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: rgba(255, 255, 255, 0.30);

    span {
        font-weight: 700;
    }

    // Mobile XS
    @media (max-width: 599px) {
        padding: 0 50px;
        line-height: 1.5;
    }
}